body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.input, .input:focus{
  height: 48px;
  border: 1px solid #61dafb;
  padding-left: 24px;
  border-radius: 8px;
  width: 100%;
}
.todo-item{
  height: 48px;
  width: 600px;
  border-bottom: 1px solid #222222;
  border-left: 1px solid #222222;
  border-right: 1px solid #222222;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.todo{
  width: 600px;
  margin: 0 auto;
}
.icon-delete{
  display: none;
  margin-left: auto;
}
.todo-item:hover .icon-delete{
  display: block;
}
.footer {
  display: flex;
  height: 48px;
  border-bottom: 1px solid #222222;
  border-left: 1px solid #222222;
  border-right: 1px solid #222222;
  align-items: center;
  padding: 0 24px;
  justify-content: space-around;
}
.item-deleted{
  text-decoration: line-through;
}
.active{
  border: 3px solid palevioletred;
}